on: pull_request
name: CI
jobs:
  phpunit:
    runs-on: self-hosted
    #    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.4

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test_db
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

      redis:
        image: redis:7.0
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Prepare Laravel Application
        run: |
          php artisan key:generate
          php artisan --version

      - name: Migrate database
        run: |
          mysql --version
          php artisan migrate

      - name: Execute tests
        run: php artisan test --parallel
